.chat-app {
  align-content: center;
  align-items: center;
  border: none;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden
  }
  .header {
    background-color: #000;
    color: #adff2f;
    padding-top: 5px;
    padding-inline-start: 10px;
    width: 100%
  }

  .gear-icon {
    font-size: 16px;
    float: right;
    margin-right: 3%;
    color: white;
  }

  .messages {

    scrollbar-width:thin;
    font-size: 14px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../public/stars.jpg");
    background-size: cover;
    display: flex;
    flex-direction:column-reverse;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
  
  .message {
    word-break: normal;
    text-wrap:wrap;
    color: white;
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  
 
  #self.user {
    text-wrap:nowrap;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    color: greenyellow;
  }
  #other.user{
    text-wrap:nowrap;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    color: plum;
  }
  
  .new-message-form {
    display: flex;
    width: 100%;
  }
  
  .new-message-input {
    flex: 1;
    border: none;
    outline: none;
    background: #000;
    font-size: 16px;
    color: white;
    padding: 10px;
    border-style: solid;
    border-left: none;
    border-bottom: none;
    border-right: none;
    border-width: 1px;
  }
  .leave-room-button{
    float: right;
    margin-right: 10px;
    color: white;
    font-size: 16px;
  }

  .leave-room-button:hover{
    color: greenyellow;
  }
  
  .send-button {
    outline: none;
    background: greenyellow;
    color: black;
    font-size: 16px;
    font-weight: bold;
    border-right: #333;
    border-width: 1px;
    border-color: white;
  }
  .send-button:hover{
    background-color: #7dba22;
  }